# Chloe Wong, Tiffany Yang
# Team Unknown
# SoftDev
# K13 -- combining past work
# 2024-9-30
# Time Spent: 2 hr

<!DOCTYPE html>

<html>

<head>
  <title>Random Job Selector</title>
</head>
<body>
  <h1>A job will be chosen based on weighted random selection</h1>
  <h2>Team Unknown: Chloe Wong, Tiffany Yang</h2>
  <p>Random Job: {{job}}</p>
</body>
<table>
  <tr>
    <th>Job Class</th>
    <th>Percentage</th>
  </tr>
  {% for i in range(job_info[categories[0]]|length) %}
    <tr>
      <td>
        {{ job_info[categories[0]][i] }}
      </td>
      <td>
        {{ job_info[categories[1]][i] }}
      </td>
    </tr>
  {% endfor %}
</table> 
  
</html>
