<! ––
Chloe Wong, Tiffany Yang
Team Unknown
SoftDev
K13 -- combining past work
2024-9-30
Time Spent: 2 hr
––>

<!DOCTYPE html>

<html>

<body>
  <h1>Random Job Selector</h1>
  <h2>A job will be chosen based on weighted random selection</h2>
  <p>Team Unknown: Chloe Wong, Tiffany Yang<p>
  <p>Random Job: {{job}}</p>
</body>
<table border="1">
  <tr>
    <th>Job Class</th>
    <th>Percentage</th>
    <th>Get Started</th>
  </tr>
  {% for i in range(job_info[categories[0]]|length) %}
    <tr>
      <td>
        {{ job_info[categories[0]][i] }}
      </td>
      <td>
        {{ job_info[categories[1]][i] }}
      </td>
      <td>
        <a href="{{ job_info[categories[2]][i] }}"> Link </a>
      </td>
    </tr>
  {% endfor %}
</table> 
  
</html>
